.task-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.task-list .task {
  background: #FFF;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.task-list .task p {
  font-size: 16px;
  color: #888;
  margin-top: 5px;
  line-height: 24px;
}

.task-list .task strong {
  display: flex;
  justify-content: center;
}

.task-list .task ol{
  margin: 20px;
}

.task-list .task li {
  margin: 10px 0 0 10px;
  background: none;
  color: #222;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: left;
  align-content: left;
}

.task-list .task .task-actions {
  display: 100%;
  justify-content: space-between;
}

.task-list .description {
  display: flex;
  border: 1px solid red;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  color: #999;
  font-size: 14px;
  padding: 5px;
}

.task-list .actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-list .actions button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #da552f;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.task-list .actions button[disabled]{
  opacity: 0.5;
  cursor: default;
}

.task-list .actions button:hover {
  opacity: 0.7;
}

.task-list .actions button[disabled]:hover{
  opacity: 0.5;
}