.main-page .actions {
  display: flex;
  margin: 10px 20px 10px 20px;
}

.main-page .actions a {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border-radius: 5px;
  background: #da552f;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  height: 20px;
  text-decoration: none;
}

.main-page .actions a:hover {
  background: #DDD;
  color: #da552f;
}

.main-page .actions input[type='file'] {
  display: none;
}

.main-page .actions label {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border-radius: 5px;
  background: #da552f;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  height: 20px;
}

.main-page .actions label:hover {
  background: #DDD;
  color: #da552f;
}